.pokedex-entries-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: calc(100vh - var(--mat-toolbar-standard-height, 64px) - 57px - var(--mdc-secondary-navigation-tab-container-height, 48px));
  @media (max-width: 599px) {
    height: calc(100vh - var(--mat-toolbar-mobile-height, 56px) - 57px - var(--mdc-secondary-navigation-tab-container-height, 48px));
  }

  .pokedex-entries {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
    padding: 12px;

    .entry {
      height: 200px;
      width: 160px;
    }

    mat-paginator {
      flex-shrink: 0;
    }
  }
}
