.pokedex-entries-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: calc(
    min(100vh, 100svh) - var(--mat-toolbar-standard-height, 64px) - 50px -
      var(--mat-tab-container-height, 48px)
  );

  @media (max-width: 599px) {
    height: calc(
      min(100vh, 100svh) - var(--mat-toolbar-mobile-height, 56px) - 50px -
        var(--mat-tab-container-height, 48px)
    );
  }

  .pokedex-entries {
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
    height: 100%;
    gap: 10px;
    overflow-y: scroll;
    padding: 10px;
    background-color: var(--mat-sys-surface-container-low);

    .entry {
      height: 200px;
      width: 160px;
    }

    mat-paginator {
      flex-shrink: 0;
    }
  }
}
