<div class="mat-elevation-z2">
  <table
    [dataSource]="moveStore.selectedPokemonMovesDataSource()"
    aria-label="Elements"
    class="full-width-table"
    mat-table
    matSort
  >
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let row" mat-cell>
        {{ row.names | localise : "en" : "name" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
      <td *matCellDef="let row" mat-cell>
        <type-chip [typeName]="row.type.name"></type-chip>
      </td>
    </ng-container>

    <ng-container matColumnDef="power">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Power</th>
      <td *matCellDef="let row" mat-cell>
        {{ row.power ?? "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="accuracy">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Accuracy</th>
      <td *matCellDef="let row" mat-cell>
        {{ row.accuracy ?? "-" }}
      </td>

      <ng-container matColumnDef="pp">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>PP</th>
        <td *matCellDef="let row" mat-cell>
          {{ row.pp }}
        </td>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>

  <mat-paginator
    (page)="loadPokemonMoves($event)"
    [length]="moveStore.pageEvent().length"
    [pageIndex]="moveStore.pageEvent().pageIndex"
    [pageSizeOptions]="[10, 25, 50]"
    [pageSize]="moveStore.pageEvent().pageSize"
    [showFirstLastButtons]="true"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
