<div class="pokemon-navigation">
  <a [routerLink]="'/pokemon/' + previousPokemonName()" mat-mini-fab>
    <mat-icon>arrow_back</mat-icon>
  </a>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Selected Version</mat-label>
    <mat-select (selectionChange)="versionGroupStore.setSelectedVersionGroupByName($event.value)">
      @for (versionGroup of versionGroupStore.entities(); track versionGroup.id) {
        <mat-option value="{{ versionGroup.name }}">
          {{ versionGroup.formattedName }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <a [routerLink]="'/pokemon/' + nextPokemonName()" mat-mini-fab>
    <mat-icon>arrow_forward</mat-icon>
  </a>
</div>
