<div class="pokemon-page">
  @if (pokemonStore.isLoading()) {
    <div class="loading-container">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  }
  @if (pokemonStore.isCompleted() && pokemonStore.selectedEntity()) {
    <div class="pokemon-container">
      <section class="summary-info">
        <pokemon-summary></pokemon-summary>
      </section>
      <section class="additional-info">
        <mat-tab-group>
          <mat-tab label="General">
            Color, Egg Groups, Base Happiness, Capture Rate etc.
          </mat-tab>
          <mat-tab label="Stats"> Stats</mat-tab>
          <mat-tab label="Moves">
            <ng-template matTabContent>
              <pokemon-moves-tab></pokemon-moves-tab>
            </ng-template>
          </mat-tab>
          <mat-tab label="Locations"> Locations</mat-tab>
        </mat-tab-group>
      </section>
    </div>
  }
</div>
