.pokemon-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pokemon-container {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding-top: 20px;
    
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }

    .summary-info {
      width: 100%;
    }

    .additional-info {
      width: 100%;
    }
  }
}
