.pokedex {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--mat-toolbar-standard-height, 64px));
  @media (max-width: 599px) {
    height: calc(100vh - var(--mat-toolbar-mobile-height, 56px));
  }
}
