.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 64px);

  .pokedex-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  mat-paginator {
    flex-shrink: 0;
  }
}
