@if (versionGroupStore.selectedEntity()) {
  <div class="pokedex">
    <div class="pokedex-options">
      <version-group-select></version-group-select>
      <button
        mat-icon-button
        (click)="toggleShiny()"
        [matTooltip]="showShiny() ? 'Show normal sprites' : 'Show shiny sprites'"
        [class.active]="showShiny()"
        class="shiny-toggle"
        aria-label="Toggle shiny sprites"
      >
        <mat-icon>auto_awesome</mat-icon>
      </button>
    </div>
    <mat-tab-group
      animationDuration="0ms"
      [selectedIndex]="selectedPokedexIndex()"
      (selectedIndexChange)="onSelectedPokedexTabChange($event)"
    >
      @for (pokedex of versionGroupStore.selectedEntity()?.pokedexes; track pokedex.name) {
        <mat-tab [label]="pokedex.formattedName">
          <ng-template matTabContent>
            <pokedex-entries
              [pokedexName]="pokedex.name"
              [versionGroupName]="versionGroupStore.selectedEntity()!.name"
              [showShiny]="showShiny()"
            ></pokedex-entries>
          </ng-template>
        </mat-tab>
      }
    </mat-tab-group>
  </div>
} @else {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
