@if (versionGroupStore.selectedEntity()) {
  <div class="pokedex">
    <version-group-select></version-group-select>
    <mat-tab-group animationDuration="0ms">
      @for (pokedex of versionGroupStore.selectedEntity()?.pokedexes; track pokedex.name) {
        <mat-tab [label]="pokedex.formattedName">
          <ng-template matTabContent>
            <pokedex-entries [pokedexName]="pokedex.name"></pokedex-entries>
          </ng-template>
        </mat-tab>
      }
    </mat-tab-group>
  </div>
}