@use '@angular/material' as mat;

.abilities-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  .abilities-header,
  .abilities-list {
    @include mat.card-overrides(
      (
        outlined-container-color: var(--mat-sys-surface-container-low),
      )
    );
  }

  .search-field {
    width: 100%;
    padding-top: 8px;
  }

  .abilities-table {
    width: 100%;
  }

  .ability-row:hover {
    background-color: var(--mat-sys-surface-container-high);
  }

  .ability-link {
    display: block;
    color: var(--mat-sys-on-surface);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
