.body-small {
  font: var(--mat-sys-body-small);
}

.body-medium {
  font: var(--mat-sys-body-medium);
}

.body-large {
  font: var(--mat-sys-body-large);
}

.display-small {
  font: var(--mat-sys-display-small);
}

.display-medium {
  font: var(--mat-sys-display-medium);
}

.display-large {
  font: var(--mat-sys-display-large);
}

.headline-small {
  font: var(--mat-sys-headline-small);
}

.headline-medium {
  font: var(--mat-sys-headline-medium);
}

.headline-large {
  font: var(--mat-sys-headline-large);
}

.label-small {
  font: var(--mat-sys-label-small);
}

.label-medium {
  font: var(--mat-sys-label-medium);
}

.label-large {
  font: var(--mat-sys-label-large);
}

.title-small {
  font: var(--mat-sys-title-small);
}

.title-medium {
  font: var(--mat-sys-title-medium);
}

.title-large {
  font: var(--mat-sys-title-large);
}
