<div class="mat-elevation-z2">
  <table
    [dataSource]="pokemonStatsDataSource()"
    aria-label="Elements"
    class="full-width-table"
    mat-table
    matSort
  >
    <ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td *matCellDef="let row" mat-cell>
          {{ row.name }}
        </td>
        <td *matFooterCellDef mat-footer-cell> Total</td>
      </ng-container>

      <ng-container matColumnDef="baseValue">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Base Value</th>
        <td *matCellDef="let row" mat-cell>
          {{ row.baseValue }}
        </td>
        <td *matFooterCellDef mat-footer-cell> {{ baseStatTotal() }}</td>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columnsToDisplay" mat-row></tr>
    <tr *matFooterRowDef="columnsToDisplay" mat-footer-row></tr>
  </table>
</div>
