.header {
  .title {
    font-family: Righteous, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .material-icon {
    line-height: 1;
  }
}
