<!-- @if (pokemonStore.isLoading()) {
<div class="loading-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
} @else { @if (pokemonStore.pokemon() && pokemonStore.pokemon().speciesDetails
&& pokemonStore.pokemon().varietyDetails) {
<div class="pokemon-container">
  <section class="general-info">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="pokemon-id-avatar">
          #{{ pokemonStore.pokemon().speciesDetails?.id }}
        </div>
        <mat-card-title
          >{{
            pokemonStore.pokemon().speciesDetails?.names || []
              | localise : 'en' : 'name'
          }}
        </mat-card-title>
        <mat-card-subtitle>{{
          pokemonStore.pokemon().speciesDetails?.genera || []
            | localise : 'en' : 'genus'
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-set aria-label="Types">
          @for (type of pokemonStore.pokemon().varietyDetails[0].types; track
          type.slot) {
          <mat-chip>{{ type.type.name | titlecase }}</mat-chip>
          }
        </mat-chip-set>
        <img
          [ngSrc]="
            'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/' +
            pokemonStore.pokemon().speciesDetails?.id +
            '.png'
          "
          alt="{{
            pokemonStore.pokemon().speciesDetails?.names || []
              | localise : 'en' : 'name'
          }}"
          mat-card-image
          width="400"
          height="400"
          priority
        />
      </mat-card-content>
    </mat-card>
    <mat-card-footer></mat-card-footer>
  </section>
  <section class="additional-info">
    <mat-tab-group>
      <mat-tab label="General">
        Color, Egg Groups, Base Happiness, Capture Rate etc.
      </mat-tab>
      <mat-tab label="Stats"> Stats </mat-tab>
      <mat-tab label="Moves"> Moves </mat-tab>
      <mat-tab label="Locations"> Locations </mat-tab>
    </mat-tab-group>
  </section>
</div>

} } -->
