@if (pokemonStore.isLoading()) {
<div class="loading-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
} @else { @if (pokemonStore.speciesDetails() && pokemonStore.varietyDetails()) {
<div class="pokemon-container">
  <section class="general-info">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="pokemon-id-avatar">
          #{{ pokemonStore.speciesDetails().id }}
        </div>
        <mat-card-title
          >{{
            pokemonStore.speciesDetails().names || [] | localise : 'en' : 'name'
          }}
        </mat-card-title>
        <mat-card-subtitle>{{
          pokemonStore.speciesDetails().genera || [] | localise : 'en' : 'genus'
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-set aria-label="Types">
          @for (type of pokemonStore.varietyDetails()[0].types; track type.slot)
          {
          <mat-chip>{{ type.type.name | titlecase }}</mat-chip>
          }
        </mat-chip-set>
        <img
          [ngSrc]="
            'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/' +
            pokemonStore.speciesDetails().id +
            '.png'
          "
          alt="{{
            pokemonStore.speciesDetails().names || [] | localise : 'en' : 'name'
          }}"
          mat-card-image
          width="400"
          height="400"
          priority
        />
      </mat-card-content>
    </mat-card>
    <mat-card-footer></mat-card-footer>
  </section>
  <section class="additional-info">
    <mat-tab-group>
      <mat-tab label="General">
        Color, Egg Groups, Base Happiness, Capture Rate etc.
      </mat-tab>
      <mat-tab label="Stats"> Stats </mat-tab>
      <mat-tab label="Moves"> Moves </mat-tab>
      <mat-tab label="Locations"> Locations </mat-tab>
    </mat-tab-group>
  </section>
</div>

} }
