@if (pokemonStore.isLoading()) {
<div class="loading-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
} @else { @if (pokemonStore.isCompleted() && pokemonStore.selectedEntity()) {
<div class="pokemon-container">
  <section class="navigation">
    <a mat-mini-fab [routerLink]="'/pokemon/' + previousPokemonName()">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <a mat-mini-fab [routerLink]="'/pokemon/' + nextPokemonName()">
      <mat-icon>arrow_forward</mat-icon>
    </a>
  </section>
  <section class="general-info">
    <mat-card appearance="outlined">
      <mat-card-header>
        <img
          mat-card-avatar
          class="pokemon-id-avatar"
          [src]="pokemonStore.selectedEntity()?.sprites?.front_default!"
          alt="{{
            pokemonStore.speciesDetails().names || [] | localise : 'en' : 'name'
          }}"
        />
        <mat-card-title
          >{{
            pokemonStore.speciesDetails().names || [] | localise : 'en' : 'name'
          }}
        </mat-card-title>
        <mat-card-subtitle>{{
          pokemonStore.speciesDetails().genera || [] | localise : 'en' : 'genus'
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-set aria-label="Types">
          @if (pokemonStore.selectedEntity()?.types) { @for (type of
          pokemonStore.selectedEntity()?.types; track type.slot) {
          <mat-chip>{{ type.type.name | titlecase }}</mat-chip>
          } }
        </mat-chip-set>
      </mat-card-content>
      <mat-card-content>
        <img
          [ngSrc]="
            pokemonStore.selectedEntity()?.sprites?.other?.home?.front_default!
          "
          alt="{{
            pokemonStore.speciesDetails().names || [] | localise : 'en' : 'name'
          }}"
          mat-card-image
          width="400"
          height="400"
          priority
        />
      </mat-card-content>
      <mat-card-footer>
        <mat-grid-list cols="4" rowHeight="100px">
          @for (variety of pokemonStore.entities(); track variety.id) {
          <mat-grid-tile (click)="setSelectedPokemonVariety(variety.id)">
            <img
              [ngSrc]="variety.sprites.front_default!"
              width="50"
              height="50"
              alt="{{ variety.name }}"
            />
          </mat-grid-tile>
          }
        </mat-grid-list>
      </mat-card-footer>
    </mat-card>
  </section>
  <section class="additional-info">
    <mat-tab-group>
      <mat-tab label="General">
        Color, Egg Groups, Base Happiness, Capture Rate etc.
      </mat-tab>
      <mat-tab label="Stats"> Stats </mat-tab>
      <mat-tab label="Moves"> Moves </mat-tab>
      <mat-tab label="Locations"> Locations </mat-tab>
    </mat-tab-group>
  </section>
</div>

} }
