<mat-toolbar class="header">
  <a
    aria-label="Home"
    class="title"
    [routerLink]="['/']"
    routerLinkActive="active"
  >
    <img
      class="logo"
      ngSrc="assets/images/porygon-gen-3.png"
      alt="Porygon"
      width="60"
      height="60"
      priority
    />
    <span>PorygonDB</span>
  </a>
  <span class="spacer"></span>
  <a
    aria-label="GitHub Repository"
    href="https://github.com/lewisgormanneale/porygondb"
    mat-icon-button
    target="_blank"
  >
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</mat-toolbar>
<main>
  <router-outlet />
</main>
