@use "@angular/material" as mat;
@use "sass:map";

.header {
  @include mat.toolbar-overrides(
                  (
                          container-background-color: var(--mat-sys-surface-dim),
                          container-text-color: var(--mat-sys-on-surface-variant),
                  )
  );

  .title {
    font-family: "Tektur", serif;
    font-weight: 800;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: inherit;
  }

  .spacer {
    flex: 1 1 auto;
  }
}