<section class="evolution-line">
  <h3 class="title-medium">Evolution Line</h3>
  @if (pokemonStore.evolutionLine().length > 1) {
  <div class="evolution-stages">
    @for (stage of pokemonStore.evolutionLine(); track $index; let isLast = $last) {
    <div class="stage">
      @for (pokemon of stage; track pokemon.speciesId) {
      <a class="evolution-pokemon" [routerLink]="['/pokemon', pokemon.speciesName]">
        <img [src]="getSpriteUrl(pokemon.speciesId)" [alt]="pokemon.speciesName" />
        <span class="label-medium">{{ pokemon.speciesName }}</span>
      </a>
      }
    </div>
    @if (!isLast) {
    <div class="arrow">
      <span class="material-icons">arrow_forward</span>
    </div>
    } }
  </div>
  } @else {
  <p class="body-medium no-evolution">This Pokemon does not evolve.</p>
  }
</section>
