@if (loading$ | async) {
<div class="loading-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
} @else { @if (pokedex$| async; as pokedex) {
<div class="pokedex-container">
  <div class="pokedex-cards">
    @for (pokemon of pokedex; track pokemon.details?.id) {
    <app-pokedex-card [pokemon]="pokemon"></app-pokedex-card>
    }
  </div>
  <mat-paginator
    [length]="totalCount$ | async"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[25, 50, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
} }
