<mat-card appearance="outlined" class="pokemon-summary">
  <mat-card-header>
    <img
      [ngSrc]="pokemonStore.selectedEntity()?.sprites?.front_default || fallbackImageSmall"
      alt="{{
        pokemonStore.speciesDetails().names || [] | localise : 'en' : 'name'
      }}"
      class="pokemon-id-avatar"
      height="40"
      mat-card-avatar
      width="40"
    />
    <mat-card-title
    >{{
        pokemonStore.speciesDetails().names || [] | localise : "en" : "name"
      }}
    </mat-card-title>
    <mat-card-subtitle>{{
        pokemonStore.speciesDetails().genera || [] | localise : "en" : "genus"
      }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="pokemon-image">
    <img
      (error)="onError()"
      [ngSrc]="selectedPokemonHomeFrontSprite()"
      alt="{{
        pokemonStore.speciesDetails().names || [] | localise : 'en' : 'name'
      }}"
      height="350"
      mat-card-image
      priority
      width="350"
    />
  </mat-card-content>
  <mat-card-content class="pokemon-forms">
    @if (pokemonStore.entities().length > 1) {
      <h4 class="label-large">Select Form</h4>
      <div class="forms">
        @for (variety of pokemonStore.entities(); track variety.id) {
          <mat-card
            (click)="setSelectedPokemonVariety(variety.id)"
            class="form-option"
            appearance="outlined"
          >
            <img
              class="pokemon-form-image"
              mat-card-image
              [ngSrc]="variety.sprites.front_default || fallbackImageSmall"
              width="80"
              height="80"
              alt="{{ variety.name }}"
            />
          </mat-card>
        }
      </div>
    }
  </mat-card-content>
  <!--  <span class="label-large">Evolves From:</span>-->
  <!--  <span class="body-medium">{{ pokemonStore.speciesDetails()!.gender_rate }}</span>-->

</mat-card>
