@use '@angular/material' as mat;

.pokemon-summary {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mat.card-overrides((
          outlined-container-color: var(--mat-sys-surface-container-low),
  ));

  mat-card-header {
    .pokemon-id-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--mat-sys-primary-container);
      font-size: 13px;
      font-weight: bold;
      color: var(--mat-sys-primary-text);
    }
  }

  .pokemon-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .pokemon-forms {
    margin-top: 10px;

    .forms {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
      @include mat.card-overrides((
              outlined-container-color: var(--mat-sys-surface-container),
      ));

      .pokemon-form-image {
        padding: 5px;
      }
    }

  }
}

.form-option {
  cursor: pointer;

  :hover {
    background-color: var(--mat-sys-primary-container);
    transition: 0.2s;
  }
}
