<mat-card appearance="outlined" class="moves-card">
  <mat-card-header>
    <mat-card-title>Moves</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (isNationalMode()) {
      <p class="body-medium national-mode-message">
        Select a version group from the dropdown above to view move data for that game.
      </p>
    } @else if (movesTableRows().length > 0) {
      <mat-tab-group animationDuration="0ms">
        @for (methodTab of moveMethodTabs(); track methodTab.key) {
          <mat-tab [label]="methodTab.label">
            <ng-template matTabContent>
              @if (methodTab.moves.length > 0) {
                <div class="moves-table-wrap">
                  <table class="moves-table">
                    <thead>
                      <tr>
                        <th>Move</th>
                        <th>Level</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (
                        move of getPaginatedRows(methodTab.key, methodTab.moves);
                        track move.moveName + '-' + move.levelLearnedAt
                      ) {
                        <tr>
                          <td>{{ move.moveName }}</td>
                          <td>
                            @if (move.learnMethodKey === 'machine') {
                              -
                            } @else if (move.levelLearnedAt > 0) {
                              {{ move.levelLearnedAt }}
                            } @else {
                              -
                            }
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
                @if (methodTab.moves.length > pageSize) {
                  <mat-paginator
                    [length]="methodTab.moves.length"
                    [pageIndex]="getPageIndex(methodTab.key)"
                    [pageSize]="pageSize"
                    [hidePageSize]="true"
                    [showFirstLastButtons]="true"
                    (page)="onMethodPageChange(methodTab.key, $event)"
                  ></mat-paginator>
                }
              } @else {
                <p class="body-medium no-moves">No moves for this method in this version group.</p>
              }
            </ng-template>
          </mat-tab>
        }
      </mat-tab-group>
    } @else {
      <p class="body-medium no-moves">No moves available for this version group.</p>
    }
  </mat-card-content>
</mat-card>
