@if (pokedexStore.isLoading()) {
<div class="loading-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
} @else { @if (pokedexStore.activePokedex()) {
<div class="pokedex-container">
  <div>
    <div class="pokedex-options">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Pokédex</mat-label>
        <select matNativeControl>
          <option value="national">National</option>
          <option value="volvo">Sinnoh</option>
          <option value="saab">Hoenn</option>
          <option value="mercedes">Johto</option>
          <option value="audi">Kanto</option>
        </select>
      </mat-form-field>
    </div>
    <div class="pokedex-cards">
      @for (pokemon of pokedexStore.activePokedex()?.pokemon_entries; track
      pokemon.entry_number) {
      <div>{{ pokemon.pokemon_species.name }}</div>
      <!-- <lib-pokedex-card [pokemon]="pokemon"></lib-pokedex-card> -->
      }
    </div>
  </div>
  <!-- <mat-paginator
    [length]="totalCount$ | async"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[25, 50, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator> -->
</div>
} }
