.pokedex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 64px);

  .pokedex-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  .pokedex-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: 200px;
    gap: 10px;
    overflow-y: auto;
    padding: 20px;
  }

  mat-paginator {
    flex-shrink: 0;
  }
}
