@use "@angular/material" as mat;
@use "sass:map";
@use './styles/_skeletons';
@use './styles/_theme-colors' as my-theme; // location of generated file


* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  // Must specify color-scheme for theme mixin to automatically work
  color-scheme: light dark;

  // Create one theme that works automatically for light and dark theme
  @include mat.theme((
          color: (
                  primary: my-theme.$primary-palette,
                  tertiary: my-theme.$tertiary-palette,
          ),
          typography: Roboto,
          density: 0,
  ));

  // Use high contrast values when users prefer contrast
  @media (prefers-contrast: more) {
    @include my-theme.high-contrast-overrides(color-scheme);
  }
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}