@use '@angular/material' as mat;
@use 'sass:map';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  color-scheme: light dark;
  @include mat.theme((
          color: mat.$violet-palette,
          typography: Roboto,
          density: 0
  ));
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}